<div class="row">
  <h2 class="title"><%= @note.name %></h2>
  <div class="large-6 columns right">
    <p style="margin-top: 20px; margin-bottom: -10px; text-align: right;"><%= link_to "Edit note", edit_note_path(@note) %> - <%= link_to @course.name, @course %></p> 
  </div>
</div>
<hr />

<div class="row">
  <%= markdown(@note.content) %>
</div>
