<div class="row">
  <h2 class="title">About Brighid</h2>
</div>
<hr />

<div class="row">
  <div class="large-12 columns embedded">
    <p>We wanted to make a tool for students that we would see ourselves using. As Computer
    Science students at the University of California, Berkeley, we found most of our notes being
    written in <a href="http://daringfireball.net/projects/markdown/">Markdown</a>, 
    <a href="http://www.latex-project.org/">LaTeX</a>, and many code snippets, but we realized
    these methods were not very accessible to those without much terminal prowess. Moreover, this
    meant that non-programmers wouldn't use these tools that they may learn are actually 
    extremely fast. We loved the effort put into <a href="http://pandoc.org/">pandoc</a>, but
    still felt this was not user-friendly to the non-programmer type. Thus, 
    <strong>Brighid</strong> was born.</p>
    <p>Brighid allows you to organize notes by course, and take detailed notes in familiar
    Markdown format. In addition, you may embed LaTeX and code highlighting directly into
    your notes, allowing it to be the perfect hub for <em>any</em> type of note-taking. While clearly designed with Computer Science and Math majors in mind, this new platform
    is perfect for any major who would like a clean, well-organized note-taking hub.</p>
  </div>
</div>

<div class="row">
  <h3 class="title">Meet the Creators</h3>
</div>
<hr />

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "about/ian_gann_square.jpg" %>
  </div>
  <div class="large-8 columns embedded">
    <h4>Ian Gann</h4>
    <p>Ian is a 4th-year Computer Science major at the University of California, Berkeley. He will
    soon be starting his career at VMware, Inc. working with the vCloud Automation Center team. 
    He loves poker, basketball, and all things software.</p>
    <p>He's also an avid lover of education (especially concepts relating to how we learn) and
    the open source community.</p>
    <p>
    <ul class="inline-list">
        <li><span style="font-size: 36px; ">
          <a href="https://github.com/ihgann" ><i class="step fi-social-github" ></i></a>
        </span></li>
        <li><span style="font-size: 36px; ">
          <a href="https://www.linkedin.com/in/igann" ><i class="step fi-social-linkedin" ></i></a>
        </span></li>
        <li><span style="font-size: 36px; ">
          <a href="https://twitter.com/ihgann" ><i class="step fi-social-twitter" ></i></a>
        </span></li>
      </ul>
      </p>
  </div>
</div>

<p> </p>

<div class="row">
  <div class="large-8 columns">
    <h4>Ayush Mudgal</h4>
    <p>Ayush is a 3rd-year Computer Science major at the University of California, Berkeley.</p>
    <p>
    <ul class="inline-list">
        <li><span style="font-size: 36px; ">
          <a href="https://github.com/ayushmudgal" ><i class="step fi-social-github" ></i></a>
        </span></li>
        <li><span style="font-size: 36px; ">
          <a href="https://www.linkedin.com/pub/ayush-mudgal/89/366/774" ><i class="step fi-social-linkedin" ></i></a>
        </span></li>
      </ul>
      </p>
  </div>
  <div class="large-4 columns">
    <%= image_tag "about/ayush_mudgal_square.jpg" %>
  </div>
</div>

