<% if not user_signed_in? %>
  <h1>We should have a login form in the beginning.</h1>
  $$\checkmark$$
  <p>The summation from 1 to n is n(n+1)/2, or in LaTeX, $\sum_{i=0}^n i = \frac{n(n+1)}{2}$</p>
<% else %>
  <h2>Courses</h2>
  <%= link_to "New Course", new_course_path %>
  <ul>
  <% @courses.each do |course| %>
    <li><%= link_to course.name, course %></li>
  <% end %>
  </ul>
<% end %>
