/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'foundation-icons';

@font-face {
  font-family: "foundation-icons";
  src: font-url( "foundation-icons.eot" );
  src: font-url( "foundation-icons.eot?#iefix" ) format("embedded-opentype"),
  font-url( "foundation-icons.woff" ) format("woff"),
  font-url( "foundation-icons.ttf" ) format("truetype"),
  font-url( "foundation-icons.svg#fontcustom" ) format("svg");
  font-weight: normal;
  font-style: normal;
}
#header {
  background-color: #028482;
  width: 100%;
}

.site-footer {
}

* {
  font-family: "Tahoma" !important;
}


#text-logo {
  letter-spacing: 0.025em;
  font-size: 60px;
  font-weight: bold;
  text-transform: lowercase; 
  /*font-family: "Times New Roman", Times, serif;*/
  font-family: "Tahoma";
  padding: 0px;
  margin: 0px;
  color: white;
  text-decoration: none;
}

#navlinks {
  list-style-type: none;
  margin-top: 40px;
  text-align: right;
}

#navlinks li {
  display: inline;
}

#navlinks li a {
  color: white;
  text-decoration: none;
  padding: 0.2em;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#navlinks li a:hover 
{
  background-color: white;
  color: #028482; 
}

.content {
  width: 67%;
}

.title {
    color: gray;
    width: 100px;
    display: inline;
}

hr {
  margin-top: 0px;
}


.new_link {
  font-size: 19px;
  margin-left: 9px;
  display: inline;
}

a {
  color: #028482; 
  padding: 0.2em;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

a:hover {
  background-color: #028482;
  color: white; 
  }

.embedded a {
  color: #016361; 
  padding: 0px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

.embedded a:hover {
  background-color: inherit;
  color: #464646; 
  }

* {
margin: 0;
}
html, body {
height: 100%;
}

.page-wrap {
min-height: calc(100% - 110px);
/* equal to footer height */
margin: 0 auto;
margin-bottom: -92px;
margin-top: 20px;
padding-bottom: 2em;
}
.page-wrap:after {
content: "";
display: block;
}

.site-footer, .page-wrap:after {
  height: 92px; 
}
.site-footer {
  padding-top: 1em;
  background-color: #464646;
  color: white;
  width: 100%;
}

.site-footer ul li
{
  font-size: 14px;
}



#error_explanation
{
  font-size: 20px;
}

#error_explanation ul li
{
  font-size: 16px;
  color: #800000;
}

#error_explanation h2 
{
  font-size: 13px;
  display: none;
}

.site-footer a
{
  color: white;
  padding: 0px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* ...and now for the proper property */
  transition:.4s;
}

.site-footer a:hover
{
  background-color: inherit;
  color: gray;
}
