/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {
  background-color: #028482;
  width: 100%;
}

#footer {
  background-color: #2b2b2b;
  color: white;
  width: 100%;
}

* {
  font-family: "Tahoma" !important;
}


#text-logo {
  letter-spacing: 0.025em;
  font-size: 60px;
  font-weight: bold;
  text-transform: lowercase; 
  /*font-family: "Times New Roman", Times, serif;*/
  font-family: "Tahoma";
  padding: 0px;
  margin: 0px;
  color: white;
  text-decoration: none;
}

#navlinks {
  list-style-type: none;
  margin-top: 40px;
  text-align: right;
}

#navlinks li {
  display: inline;
}

#navlinks li a {
  color: white;
  text-decoration: none;
  padding: 0.2em;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#navlinks li a:hover 
{
  background-color: white;
  color: #028482; 
}

.content {
  width: 67%;
}

.title {
    font-family: "Times New Roman", Times, serif;
    color: gray;
    display: inline;
}

hr {
  margin-top: 0px;
}


.new_link {
  font-size: 19px;
  margin-left: 9px;
  display: inline;
}

a {
  color: #028482; 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a:hover {
  color: gray;
  }


* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
height: 100%;
margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
margin-top: 20px;
}
#footer, .push {
height: 100px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
