/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {
  margin-top: 20px;
  text-align: left;
}


#text-logo {
  letter-spacing: 0.075em;
  color: #028482;
  font-size: 60px;
  font-weight: bold;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

#navlinks {
  list-style-type: none;
  margin-top: 40px;
  text-align: right;
}

#navlinks li {
  display: inline;
  color: #006400;
}

#navlinks li a {
  color: gray;
  text-decoration: none;
}

#navlinks li a:hover {
  text-decoration: none;
}

.content {
  width: 67%;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
    font-family: "Times New Roman", Times, serif;
    color: gray;
    display: inline;
}

hr {
  margin-top: 0px;
}


.new_link {
  font-size: 19px;
  margin-left: 9px;
  display: inline;
}
