.button {
  color: white;
  background-color: #028482;
}

.b0, .b11 {
  background-color: #966630;
}

.b1, .b10 {
  backgorund-color: #963060;
}

.b2, .b9 {
  background-color: #a8120e;
}

.b3, .b8 {
  background-color: #008cba;
}

.b4, .b15 {
  background-color: #663096;
}

.b5, .b14 {
  background-color: #309666;
  }

.b6, .b13 {
  background-color: #464646;
}

.b7, .b12 {
  background-color: #d98316;
}
