<div class="site-footer">
  <div class="row" style="text-align:center;">
    <div class="large-12 columns">
      <ul class="inline-list left" style="margin-top: 12px;">
        <li>© 2015 Brighid</li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Terms of Service", terms_of_service_path %></li>
        <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
      </ul>
      <ul class="inline-list right" style="margin-top: -10px;">
        <li><span style="font-size: 36px; ">
          <a href="https://github.com/ihgann/brighid" 
            ><i class="step fi-social-github" ></i></a>
        </span></li>
      </ul>
    </div>
  </div>
</div> 
